.follow-button-case {
    float: right;
}

.follow-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* @import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'; */

html,
body {
  font-family: noto sans,sans-serif,Helvetica,Arial;
}

div[class*=box] {
  height: 33.33%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.box-3 { background-color: transparent;}

.btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 200px;
    cursor: pointer;
}

.btn-three {
  color: rgb(0, 0, 0);
  transition: all 0.5s;
  position: relative;
}

.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(42, 82, 74, 0.1);
  transition: all 0.3s;
}

.btn-three:hover {
    background-color: rgb(49, 169, 91);
}

.btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}

.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}

.btn-three:hover::after {
  /* opacity: 1; */
  transform: scale(1,1);
}