body {
    width: 400px;
    height: 450px;
    overflow: scroll;
    text-align: center;
    align-items: center;
    background-color: #2A524A;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#home-manga-content {
    padding: 2%;
}

.manga-image-home {
    width: 78%;
    border-radius: 3%;
    height: 78%;
}

.home-manga-img-column {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    flex: 1;
}

.home-manga-column {
    cursor: pointer;
    width: 158px;
    height: 100px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: row;
    background: #333;
    border-radius: 5%;
    padding: 2%;
    text-align: center;
    color: #d5d5d5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
    border: 2px solid transparent;
}

.url-found:hover {
    background-color: #555555 !important;
    color: white;
    border: 2px solid #2cff7a;
}

.url-not-found:hover {
    background-color: #555555 !important;
    color: white;
    border: 2px solid #f44336;
}

.home-manga-informations {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.home-manga-rows {
    display: flex;
    flex-direction: row;
    flex: 1;
    
}

.home-manga-info-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    justify-content: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}